DEBUG=True
POSTGRES_DB=filip
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
OPENAI_API_KEY=
OPENAI_EMBED_API_KEY=

# Azure OpenAI Configuration
# Separate keys for different models/tasks
# AZURE_OPENAI_EMBEDDING_API_KEY=
AZURE_OPENAI_EMBEDDING_API_KEY=
AZURE_OPENAI_CHAT_API_KEY=
AZURE_OPENAI_ENDPOINT=https://aiportalapi.stu-platform.live/jpe
AZURE_OPENAI_API_VERSION=2024-02-01
AZURE_OPENAI_CHAT_MODEL=GPT-4o-mini
AZURE_OPENAI_EMBEDDING_MODEL=text-embedding-3-small